* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Permanent Marker", cursive;
  font-size: 16px;
  min-height: 100vh;
  color: rgb(77, 3, 77);
  background-image: url("./images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  list-style-type: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 1em;
  gap: 3em;
}

.stats {
  display: flex;
  max-width: 60%;
  justify-content: space-between;
  font-size: 1.6em;
  padding: 0 1ch;
  gap: 1ch;
  margin: auto;
  margin-bottom: 1ch;
}

h1 {
  font-size: 4em;
  word-spacing: 1em;
  text-align: center;
}

.controls {
  display: flex;
  gap: 2em;
}

.bestScore {
  font-size: 1.5em;
}

button {
  padding: 1ch 2.5ch;
  font-size: 1.2em;
  background-color: #6296d8;
}

.level {
  padding: 1ch;
  background: linear-gradient(160deg, #017b71 0%, #aa7ecd 100%);
  box-shadow: 2px 3px 4px 0 rgba(46, 61, 73, 0.5);
  border-radius: 5px;
  margin-bottom: 2ch;
}

.level p {
  margin-bottom: 1ch;
  font-size: 1.5em;
  text-align: center;
}

.level button {
  padding: 0.5em 1.5em;
  font-size: 0.8em;
}

.rules.inactive {
  display: none;
}

.rules {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 1em;
}

.close {
  font-size: 0.6em;
  align-self: center;
}

.game-screen {
  width: 100vw;
}

.board-container {
  width: 70%;
  margin: auto;
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3%;
  row-gap: 15px;
  border-radius: 2%;
  background: linear-gradient(160deg, #017b71 0%, #aa7ecd 100%);
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}

.inactive {
  display: none;
}

.card {
  position: relative;
  aspect-ratio: 1/1;
  min-width: max(60px, 50%);
  justify-self: center;
  cursor: pointer;
  margin: 4%;
  border-radius: 6%;
  box-shadow: 2px 3px 4px 0 rgba(46, 61, 73, 0.5);
}

.card-back,
.card-front {
  width: 100%;
  height: 100%;
}

.card-front,
.card-back {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.6s;
  backface-visibility: hidden;
}

.card-front {
  background-image: url(images/front.png);
}

.card-back {
  transform: rotateY(180deg);
  height: 100%;
}

.card.flipped .card-front {
  transform: rotateY(180deg);
}

.card.flipped .card-back {
  transform: rotateY(0deg);
}

.card.matched {
  transition: box-shadow 0.6s;
  box-shadow: 0 0 2px 3px rgba(172, 255, 47, 0.801);
}

.win {
  font-size: 4em;
  text-align: center;
}


@media screen and (max-width:600px) {
  .board-container {
    width: 95%;
  }

  body {
    font-size: 12px;
  }

  .stats {
    max-width: 80%;
  }
}